<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
   
    <div class="site-title">
        <a href="/"><h1> Blog Ninja </h1></a>
        <p> A net ninja Site </p> 
    </div>
    <div class="not-found-content">
        oops , page not found :
    </div>
    <%- include('./partials/head.ejs')  %>
    
</body>
</html>